# apple spew
.DS_Store

# environment setting file
.npmrc

# backup for local testing
*.backup

# artifacts from build & test
*.zip
lib
node_modules
npm-debug.log
package-lock.json
packaged-template.yaml
setEnv.sh
template.output.yaml
